@media (min-width: 576px)
  .bg-inverse
    background-color: $colorGray
  .navbar-brand
    color: $colordark
    margin-right: 0rem
  .navbar-nav .nav-link
    color: $colordark
  .fa.has-circle
    color: $colordark
    border: 1px solid $colordark
  .navbar-toggler
    border: 1px solid transparent
  .navbar
    button:focus, button:hover,
      outline: none
      outline: none
  .card-columns
    -webkit-column-count: 2
    column-count: 2

@media (max-width: 576px)
  #iso
    .item
      .card
        width: 100%
  .navbar .nav-item .btn.btn-sm.login
    color: $colorGray
    margin: 0 0 20px 10px
  .phone-header, .search-header
    a
      color: $white

@media (min-width: 576px)
  .card-columns
    column-count: 2

@media (min-width: 768px)
  .card-columns
    -webkit-column-count: 3
    column-count: 3

@media (min-width: 992px)
  .card-columns
    -webkit-column-count: 3
    column-count: 3

@media (min-width: 1200px)
  .card-columns
    -webkit-column-count: 4
    column-count: 4
  

@media (min-width: 992px) and (max-width: 1199px)
  .work_item
    a.zoom
      width: 40px
      height: 24px
      margin-left: -20px
    &:hover a.zoom
      bottom: 30px

@media (min-width: 768px) and (max-width: 991px)
  .work_item
    a.zoom
      width: 40px
      height: 24px
      margin-left: -20px
    &:hover a.zoom
      bottom: 30px

@media (max-width: 767px)
  .work_item
    a.zoom
      width: 40px
      height: 24px
      margin-left: -20px
    &:hover a.zoom
      bottom: 30px
  .owl-theme .owl-controls
    top: -69px



