$path-awesome: 'assets/themekalisto-design/fonts/fontawesome/fontawesome-webfont'
$main-family: 'Roboto Condensed', sans-serif
$zag-family: "Franklin Gothic Medium", "Helvetica Neue", Helvetica, Arial, sans-serif
$font-size: em(18px)
$font-weight: 400
$line-height-content: 1.2

$colordark: #262626
$darkLight: lighten($colordark, 40% )
$primary: #d87dd4 
$primaryLight: lighten($primary, 6% )
$primarySecond: #974ec6
$colorGray: #f2f3f5

$white: #fff

$success:       #738d00
$success-hover: lighten($success, 10%)
$info:          #05bca9
$info-hover:    lighten($info, 10%)
$warning:       #f89406
$warning-hover: lighten($warning, 10%)
$danger:        #c10841
$danger-hover:  lighten($danger, 10%)

$media-md: 1199px
$media-sm: 991px
$media-xs: 767px

%font-awesome
  font: normal normal normal 14px/1 FontAwesome
  font-size: inherit
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  transform: translate(0, 0)
  

$font-stack:    'Open Sans', Arial, Helvetica, sans-serif
$primary-color: #939faa
$primary-light-color: #b6c0c9
$heading-color: #1b4268
$secondary-color: #d4dde5
$mainbg-color: #edf6ff

$theme-skin-orange: #ff6600
$theme-skin-green:  #97cc24
$theme-skin-purple: #b53cd3
$theme-skin-blue:   #00a2ee
$theme-skin-yellow: #ffae00
$theme-skin-gray:   #acacac
$theme-skin-navy:   #006cff
$theme-skin-sea:    #0ab596
$theme-skin-red:    #ff1818
$theme-skin-gold:   #d9be2b


$theme-skin-color: $theme-skin-green
$theme-skin-light-bgcolor: #a2d13a
$theme-skin-light-fontcolor: #d8eaaf
